body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    box-sizing: border-box;

}

html {
    background-image: url("https://thumbs.dreamstime.com/b/seamless-texture-sad-cheerful-smiley-linear-style-seamless-texture-sad-funny-emoji-linear-style-187380479.jpg");
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeA0NlwQKwvExgpQk8vAyMrTHmRfeLRd6WBPIoy1WExyg3q7ZUiniiaQoacTy5Jas27GY&usqp=CAU");

}

#btn_clean, #btn_save {
    background-color: #4dadbd;
    border-radius: 12px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

#btn_clean {
    margin: 10px auto;
    width: 120px;
}

#btn_save {
    width: 60px;
}

#text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: 800;
    height: 30px;
    border-radius: 12px;
    background-color: #fdd3fd;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    padding: 10px;
    background-color: #fdd3fd;
    border-radius: 12px;
    border: #3f4344 dotted 2px;
    margin-bottom: 5px;
}
